.homeLink {
    text-decoration: none;
    color: black;
}

.homeLink:hover {
    text-decoration: none;
    color: black;
}

.bg {
    overflow: hidden;
}

.cardLink {
    color: #000;
    text-decoration: underline;
}

.cardLink:hover {
    color: #000;
    text-decoration: underline;
    font-weight: 800;
}
